.authorization {
   position: relative;
   width: 100%;
   min-height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   overflow: hidden;
   position: fixed;
   top: 0px;
   z-index: 2;
}
.authorization__wrapper {
   padding: 70px 30px;
   display: flex;
   flex-direction: column;
   max-width: 530px;
   margin: 0 auto;
   border: 1px solid #000;
}

.authorization__text {
   font-size: 18px;
   margin-bottom: 40px;
   text-align: center;
   line-height: 1.4;
}
.authorization__block {
   text-align: center;
}
.authorization__enter,
.authorization__reg {
   background-color: #000;
}
.author {
   display: none;
}
