.header__container {
   position: relative;
   background: #d4d3d8;
}
.header__title {
   padding: 100px 0 20px 0;
   font-style: normal;
   font-weight: 700;
   font-size: 58px;
   line-height: 0.82;
   color: #000000;
   text-align: center;
}

/* icon для регистрации */

.header__exit,
.header__rigistr {
   border-radius: 50%;
   padding: 15px;
   background-color: #fff;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
   transition: all 0.1s ease 0s;
   cursor: pointer;
}
.header__exit {
   background: url("../img/exit.svg") 50% 50% / cover no-repeat #fff;
}
.header__rigistr {
   background: url("../img/registration.svg") 50% 50% / 85% no-repeat #fff;
}

.header__account {
   position: absolute;
   display: flex;
   gap: 10px;
   align-items: center;
   right: 5%;
   top: 13%;
   font-size: 24px;
   font-weight: 500;
   border-radius: 5px;
   padding: 12px;
}
.header__account p {
   margin-right: 18px;
}
