.header {
}
.header__container {
   position: relative;
   background: #D4D3D8;
   
}
.header__title {
   padding: 100px 0 20px 0;
   font-style: normal;
   font-weight: 700;
   font-size: 58px;
   line-height: 0.82;
   color: #000000;
   /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
   text-align: center;
}

/* icon для регистрации */
/* ??? */
.header__exit {
   border-radius: 50%;
   padding: 18px;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
   background: url('../img/registration.svg') 50% 50% / 70%  no-repeat #fff;
   transition: all 0.1s ease 0s;
}
.header__exit:hover{
   padding: 18px;
   background: url('../img/exit2.svg') 60% 50% / 55%  no-repeat #fff;
}

.header__account {
   position: absolute;
   display: flex;
   gap: 18px;
   align-items: center;
   right: 5%;
   top: 13%;
   font-size: 24px;
   font-weight: 500;
   border-radius: 5px;
   padding: 12px;
   /*background-color: #fff;*/
   /*box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);*/
}
/*.header__account img:hover {
   background:
}*/
/* имя пользователя */
/*.header__login{
   position: absolute;
   right: 14%;
   top: 15%;
   font-size: 24px;
   font-weight: 600;
   text-transform: capitalize;
   padding: 8px 12px;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}*/