.main {
   padding: 20px 0 30px;
}

.main__container {
   background: #fff;
   border-radius: 16px;
   box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
}

.header-block {
   border-bottom: 1px solid #CED4DA;
}

.header-block__items {
   padding: 24px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
}

.header-block__inpt {
   width: 356px;
}

.header-block__btn {
   background: #272829;
   padding: 8px 16px;
}
.header-block__btn:hover{
   background: #000000;
}

/* стили для параграфа (р) */
.check__choice{
   overflow: hidden;
   padding: 0 25px 0 0;
   cursor: pointer;
   line-height: 1.4;
}
/* ----------------- */
.check__input {
   cursor: pointer;
}

/* container with label and div */
.check__box-content{
   position: relative;
   display: flex;
   gap: 14px;
   margin-bottom: 15px;
}
/* ----- */

/*Checked*/
.active{
   text-decoration-line: line-through;
   color: #54595E;
   opacity: 0.5;
}
/* блоки, которые отображаются */
.main-invisible{
   display: none;
}
.main__content-footer {
   background: #F5F5F5;
   padding: 18px 24px;
   border-radius:  0 0 16px 16px;
   /*display: none;*/
}
.main__content-main {
   padding: 18px 24px;
}
/* active block */

/* --------------------------- */
.main__item-del {
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   cursor: pointer;
}

.footer-block__items {
   display: flex;
   justify-content: space-between;
}
.footer-block__delete-complete,
.footer-block__delete-all{
   background: #000000;
}

/* стили при наведении на кнопку */
.footer-block__delete-all:hover,
.footer-block__delete-complete:hover{
   color: #000;
   background: #fff;
   border: 1px solid #000;
   transition: all 0.3s ease 0.1s;
}
/*----общие стили для button-------*/
.btn-list{
   font-weight: 600;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   color: #FFFFFF;
   border-radius: 4px;
   padding: 10px 16px;
   cursor: pointer;
   border: 1px solid #000;
}
/*---------общие стили для input--------*/
.input-stl{
   padding: 9px 32px 8px 14px;
   background: #FFFFFF;
   border: 1px solid #CED4DA;
   border-radius: 4px;
   color: #54595E;
}